---
layout: framework
sidebar: archive-list
---
<h1>COMUNICATE CON NOSOTROS</h1>


<form action="https://formspree.io/f/myyopqnp" method="post">
  <label for="fname"> nombre:</label><br>
  <input type="text" id="fname" name="nombre"><br>
  <label for="lname">apellido:</label><br>
  <input type="text" id="lname" name="apellido"><br>
  
  
 E-mail
  : <input type="text"><br>
  
    <label for="phone">telefono:</label><br>

  <input type="telefono" id="phone" name="phone" pattern="[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}-[0-9]{2}"><br>
  
    <label for="fecha">fecha:</label><br>

  <input type="date" id="dia" name="mes"><br>
  
  <label for="calificacion">calificacion:</label><br>

  <input type="number" id="quantity" name="quantity" min="1" max="10"><br>

<input type="submit"><br>
  
</form>

  
  
<p> </p>



<!--
{%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%}
-->
