---
layout: framework
sidebar: archive-list
---
<h1>COMUNICATE CON NOSOTROS</h1>


<form action="https://formspree.io/f/myyopqnp" method="post">
  <label for="fname"> nombre:</label><br>
  <input type="text" id="fname" name="nombre"><br>
  <label for="lname">apellido:</label><br>
  <input type="text" id="lname" name="apellido"><br>
  
  
<p> </p>



<!--
{%- if site.posts.size > 0 -%}

  {% include functions.html func='log' level='debug' msg='Get datetimes value' %}

  {% assign filter = '%Y' %}
  {% include functions.html func='get_datetimes' %}
  {% assign datetimes = return %}

  {% assign keys = datetimes | reverse %}
  {% assign field = 'date' %}
  {% include views/segments.html %}

{%- endif -%}
-->
