---
layout: framework
sidebar: category-list
---

<h1> Nosotros </h1>
<p> CON MAS DE 15 AÑOS DE EXPERIENCIA EN LA RAMA DE EL SOPORTE Y MANTENIMIENTO DEL EQUIPO DE COMPUTO UNO DE LOS TANTOS MEJORES TECNICOS DE ESTA COMPAÑIA </p>

<p>UN TECNICO NIVEL 2

BUSCA SOLUCONES DE MANERA RAPIDA Y EFICAZ

TRABAJOS GARANTIZADOS </p>

<h2> MISION </h2>

<p>OFRECER UN SERVICIO DE CALIDAD Y AYUDAR A NUESTROS CLIENTES 
  CON EL SERVICIO QUE SOLICITEN DISMINUYENDO LAS PERDIDAS POR FALLAS DE SUS EQUIPOS OFRECIENDOLES
  MANTENIMIENTO DE TODAS LAS CATEGORIAS O SOLICITANTES </p>



  
  


<!--
{%- if site.posts.size > 0 -%}

  {%- include functions.html func='log' level='debug' msg='Get value' -%}
  {%- include functions.html func='get_categories' -%}
  {% assign categories = return %}

  {% assign keys = categories %}
  {% assign field = 'categories' %}
  {%- include views/segments.html -%}

{%- endif -%}
-->
